#amazing {
  padding: 120px 0 306px;
  background: url(../img/amazing/city.jpg) no-repeat center;
  background-size: cover;
}

.amazing__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.amazing__title {
  margin: 120px 0 35px;
  width: 350px;
  height: 72px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-align: center;
}

.amazing__button {
  display: block;
  margin-bottom: 242px;
  color: #fff;
  background-color: #00a4e5;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  width: 150px;
  height: 40px;
  margin: 11px 26px;
  cursor: pointer;
  border-style: none;
}
